[submodule "interface/ftx-prog"]
	path = interface/ftx-prog
	url = git@github.com:richardeoin/ftx-prog.git
[submodule "interface/stm32flash"]
	path = interface/src/stm32flash
	url = git://git.code.sf.net/p/stm32flash/code
[submodule "interface/stm32wl-openbl-apps"]
	path = interface/stm32wl-openbl-apps
	url = git@github.com:STMicroelectronics/stm32wl-openbl-apps.git
[submodule "tests/ice40-tdc-calibration/picoemp-tdc-paper"]
	path = tests/ice40-tdc-calibration/picoemp-tdc-paper
	url = https://github.com/colinoflynn/picoemp-tdc-paper.git
